* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:"Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* background:  linear-gradient(170deg, rgba(42, 123, 155, 1) 54%, rgba(255, 255, 255, 1) 0%); */
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 30rem;
  background-color: rgba(42, 123, 155, 1);
  transform-origin: 0;
  transform: skewY(-10deg);
  box-shadow: 0rem 0.1rem 1rem #595959;
}

footer i, header i {
  font-size: 2rem;
  color: black;
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.25s ease-out;
}

header i:hover , footer i:hover{
  transform: scale(1.1);
}

.photo-container {
  position: relative;
  padding: 0;
  margin: 0;
}

.profile-photo {
  max-width: 300px;
  box-shadow:  0rem 0.1rem 1rem #595959;
}

.photo-header {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  font-size: 2rem;
  text-shadow: 0.5rem 0.1rem 1rem black;
}

.about-me {
  box-shadow: 0rem 0.1rem 1rem #595959;
  background-color: #f1f0ea;
  padding: 2rem;
  max-width: 600px;
}

.about-me-para {
  margin: 18px 0;
}

.about-me-icons {
  text-align: right;
  min-height: 36px;
}

.my-work {
  margin: 25px 0;
}

main {
  max-width: 1300px;
  padding: 4rem;
  margin: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  max-width: 400px;
  box-shadow: 0rem 0.1rem 1rem #595959;
  border-radius: 10px;
  background-color: #f1f0ea;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.card:hover {
  transform: scale(1.01);
  /* transition: all 1s ease-out 0.25; */
}

.card:hover img {
  filter: none;
  opacity: 1;
}

.project-screen {
  height: 220px;
  width: 100%;
  filter: grayscale();
  opacity: 0.7;
  /* object-fit: cover; */
  /* transition: filter 0.1s ease-in-out 0.1s; */
}

.icons {
  display: flex;
}

.icons img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  transition: transform 0.25s ease-out;
}

.icons img:hover {
  transform: scale(1.1);
}

.project-desc {
  margin: 10px 0;
}

.project-footer {
  padding: 1rem;
}

.project-footer-header {
  display: flex;
  justify-content: space-between;
}

footer {
  background: rgba(42, 123, 155, 1);
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 24px;
} 

.contact-info p::before {
  width: 1.5rem;
  height: 1.5rem;
}
.contact-info p{
  display: flex;
  align-items: center;
}

.phone::before {
  content: "";
  margin-right: 0.5rem;
  background-color: white;
  mask-image: url(images/phone.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.mail::before {
  content: "";
  margin-right: 0.5rem;
  background-color: white;
  mask-image: url(images/mail.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.right-footer {
  margin: 24px;
}

.footer-photo {
  max-width: 250px;
  box-shadow: 0rem 0.1rem 1rem #595959;
}

@media (max-width: 1000px) {
  header {
    display: block;
    margin: auto;
    max-width: 700px;
  }

  .photo-container {
    float: left;
    padding-right: 20px;
  }

  .about-me {
    margin-top: 100px;
  }
  .photo-header{
    right: 10px;
  }

  main {
    padding: 20px;
    max-width: 900px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 1.5rem;
    margin: auto;
  }

}

@media (max-width:600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  } 

  .photo-container {
    padding: 0;
  }
  .about-me {
    margin-top: 0;
    padding: 20px;
    max-width: 400px;
  }

  .about-me-icons {
    text-align: right;
  }
  .about-me-header {
    text-align: center;
  }
  main {
    padding: 0;
  } 

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .card {
    max-width: 350px;
  }
  .my-work {
    text-align: center;
    /* max-width: 400px;
    margin: auto;
    margin-bottom: 20px; */
  }

  footer {
    margin-top: 50px;
    flex-direction:column;
  }
  
  .contact-me-header {
    text-align: center;
  }
  
  .contact-with-me {
    text-align: right;
  }
}

