* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:"Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  padding: 50px;
  background:  linear-gradient(160deg, rgba(42, 123, 155, 1) 54%, rgba(255, 255, 255, 1) 0%);
}

.profile-photo {
  min-width: 200px;
  min-height: 200px;
  background: lightblue;
  margin: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  box-shadow: 0px 0px 4px gray;
  background-color: lightcyan;
  margin: 10px;
  padding: 10px;
}

.project-footer-header {
  display: flex;
  justify-content: space-between;
}

footer {
    background: rgba(42, 123, 155, 1);
    color: white;
}

.photo-container, .about-me {
  box-shadow: 0px 0px 4px gray;
}

footer {
  display: flex;
}

.left-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 24px;
} 

.right-footer {
  margin: 24px;
}